body {
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


.ulbuttons {
    display: flex;
    gap: 15px;
    margin: 10px 20px;
}

.buttonG {
    padding: 10px 20px;
    background-color: green;
    color: white;
}
.buttonN {
    padding: 10px 20px;
    background-color: peru;
    color: white;
}
.buttonB {
    padding: 10px 20px;
    background-color: red;
    color: white;
}
.buttonRes{
    padding: 10px;
    background-color: white;
    color: black;
}
